# node.js
out
dist/**
node_modules
test-results

# vscode-test
.vscode-test
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/**.db*

vscode.d.ts

vscode-ros-dev.vsix

**/.venv/**

**/__pycache__

**/log

samples/**/build
samples/**/install
samples/**/log
samples/**/.vscode